ul.social-network{
    list-style: nome;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 35px;
    color: white;
    padding: 10px;
}

.fa-facebook-official:hover{
    color: #3b5998;;
}

.fa-instagram:hover{
    background: linear-gradient(180deg, rgba(251,255,0,1) 0%,  rgba(255,0,221,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-linkedin:hover{
    color: #0072b1;
}

.fa-github:hover{
    color: purple;
}

.fa-copyright{
    font-size: 15px;
    margin: 0;
    padding: 5px;
}

#cor{
    background-color: black;
}
.bgdark{
    background-color: black;
}