#img-bg{
    background-image: url('https://cdn.awsli.com.br/1000x1000/776/776651/produto/70096972/0218191535.jpg');
    min-height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
