.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;
}

#cor{
    background-color: white;
}

.text-cor{
    color: black;
}
.container-fluid{
    background: linear-gradient(white, grey, black)
}